.sp-alpha-enabled .sp-top {
	margin-bottom: 28px
}

.sp-alpha-handle {
   -moz-border-radius: 100%;
   -moz-box-shadow: 0 1px 2px #ccc;
   -moz-opacity: 1;
-webkit-border-radius: 100%;
-webkit-box-shadow: 0 1px 2px #ccc;
-webkit-opacity: 1;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
		background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
		background: linear-gradient(to bottom, #ffffff 0% ,#e5e5e5 100%);
		border-color: #bbbabf;
		border-radius: 100%;
		bottom: -6px;
		box-shadow: 0 1px 2px #ccc;
		opacity: 1;
		top: -6px;
		width: 16px
}

.sp-alpha {
	bottom: -20px
}

.sp-alpha-inner {
	border-color: #d8d7d9
}

.sp-dragger {
   -moz-border-radius: 100%;
   -moz-box-shadow: 0 0 1px 1px #000;
-webkit-border-radius: 100%;
-webkit-box-shadow: 0 0 1px 1px #000;
		background: none;
		border-width: 2px;
		border-radius: 100%;
		box-shadow: 0 0 1px 1px #000;
		height: 8px;
		width: 8px
}

.sp-slider {
   -moz-border-radius: 6px;
   -moz-box-shadow: 0 0px 1px 1px #888;
-webkit-border-radius: 6px;
-webkit-box-shadow: 0 0px 1px 1px #888;
		background: none;
		border-color: #fff;
		border-radius: 6px;
		box-shadow: 0 0px 1px 1px #888;
		border-width: 2px;
		height: 6px;
		left: -4px;
		right: -4px
}

.sp-container {
	background-color: #f6f4f4;
	border-color: #d8d7d9
}

.sp-color, .sp-hue, .sp-clear {
	border-color: #d8d7d9
}

.sp-input:focus {	
	border: none
}

.sp-palette-container {
	max-width: 160px
}

.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active {
	border-color: #bbbabf
}

.sp-initial {
	border-color: #d8d7d9
}

.sp-initial span {
	height: 30px
}

.sp-palette-button-container,
.sp-button-container {
	border-top: 1px solid #d8d7d9;
	padding-top: 16px;
	width: 100%
}

.sp-replacer {
   -moz-border-radius: 3px;
-webkit-border-radius: 3px;
		background: #f6f4f4;
		border-color: #d8d7d9;
		border-radius: 3px;
		padding: 4px 12px 4px 4px;
		position: relative
}

.sp-replacer:hover, .sp-replacer.sp-active {	
	border-color: #F0C49B;	
	color: #111
}

.sp-dd {
	border-top: 4px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	bottom: 0;
	content: '';
	float: none;
	height: 0;
	line-height: 28px;
	margin: auto;
	padding: 0;
	position: absolute;
	right: 2px;
	top: 0;
	width: 0
}

.sp-preview,
.sp-preview-inner {
   -moz-border-radius: 2px;
-webkit-border-radius: 2px;
		border-radius: 2px
}

.sp-preview {
	border-color: #d8d7d9;
	height: 28px;
	width: 28px
}

.sp-palette {
	margin-bottom: 16px
}

.sp-container button,
.sp-cancel {
	border: none;
	color: #fff !important;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	outline: none;
	padding: 10px 14px;
	text-shadow: none
}

.sp-container button {
	background: #2bc37c
}

.sp-container button:hover,
.sp-container button:active {
	background: #39d38b;
	border: none;
	text-shadow: none
}

.sp-container button:active {
   -moz-box-shadow:none;
-webkit-box-shadow:none;
		box-shadow:none
}

.sp-cancel {
	line-height: 1		
}

.sp-cancel:hover {
	background: #e22c60 !important;
	color: #fff !important;
	text-decoration: none
}

.sp-palette-toggle,
.sp-choose {
	float:right
}

.sp-input-container {
	margin-bottom: 16px
}

.show-umb-field > input.uskript-spectrum {
	display:inline-block!important;
	margin-right:10px;
	width:20%
}
.show-umb-field .sp-preview {
	height:20px;
	width:20px
}